imageio==2.26.0
ipykernel==6.17.1
ipython==8.6.0
jupyter_client==7.4.7
jupyter_core==5.0.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
pandas==1.5.2
Pillow==9.3.0
torch==1.13.0
torchvision==0.2.2.post3

